<article class="promo-full skin-full-content">
    <div class="m-load" *ngIf="load"></div>
    <div *ngIf="!load">
        <div class="promo-full__image skin-full-image" [ngStyle]="{ 'background-image':  'url(' + item.background_image_url + ')' }"></div>
        <h1 class="promo-full__title" [ngStyle]="{ 'background-color':  item.stripe_color }">{{ item.title }}</h1>
        <div class="promo-full__content">
            <p class="promo-full__text skin-full-text" openLink [innerHTML]="item.full_description"></p>

            <div class="button-wrapper">
                <button class="button button--back" type="button" (click)="goBack()">Назад</button>
            </div>
        </div>
    </div>
</article>