<article class="campaign-full skin-full-content">
    <div class="m-load" *ngIf="load"></div>
    <div class="campaign-full__flex" *ngIf="!load">
        <div class="campaign-full__image skin-full-image" [ngStyle]="{ 'background-image':  'url(' + item.background_image_url + ')' }"></div>
        <div class="campaign-full__content">
            <div class="campaign-full__icon skin-full-icon">
                <img src="{{ item.icon_url }}" alt="{{ item.title }}" width="60" height="60">
            </div>
            <h1 class="campaign-full__title skin-full-title">{{ item.title }}</h1>
            <h2 class="campaign-full__subtitle">{{ item.subtitle }}</h2>
            <p class="campaign-full__text skin-full-text" [innerHTML]="item.full_description"></p>

            <div class="button-wrapper">
                <button class="button button--back" type="button" (click)="goBack()">Назад</button>
                <button class="button button--campaign" type="button" customCss cssValue="background-color,{{ item.link_color }}" *ngIf="item.link_code && item.link_name" (click)="goLink(item.link_code, item.distance_trade_links.web_link)">{{ item.link_name }}</button>
            </div>
        </div>
    </div>
</article>
