<svg style="display: none">
    <symbol id="select" viewBox="0 0 27 40">
        <path d="M0 0v39.5c0 .3.3.6.7.5l12.6-4.2h.4L26.3 40c.4 0 .7-.2.7-.5V0zm20.8 13c.2.3.3.7 0 1l-9 11.4-.5.3c-.3 0-.5 0-.6-.3l-4-4.7c-.2-.2-.3-.5 0-.8 0-.3.4-.4.7-.3L11 21l9-8c0-.2.5-.2.8 0z"/>
    </symbol>
</svg>

<article class="campaign-select-full skin-full-content {{ loadBuy ? 'm-load' : '' }}">
    <div class="m-load" *ngIf="load"></div>
    <div class="campaign-select-full__flex" *ngIf="!load">
        <div class="campaign-select-full__image skin-full-image" [ngStyle]="{ 'background-image':  'url(' + item.background_image_url + ')' }"></div>
        <div class="campaign-select-full__content">
            <div class="campaign-select-full__icon skin-full-icon">
                <img src="{{ item.icon_url }}" alt="{{ item.title }}" width="60" height="60">
            </div>
            <h1 class="campaign-select-full__title skin-full-title">{{ item.title }}</h1>
            <p class="campaign-select-full__text skin-full-text" [innerHTML]="item.full_description"></p>
            <span class="campaign-select-full__date">С {{ item.date_begin | fullDate }} г. по {{ item.date_end | fullDate }} г.</span>
        </div>

        <div class="campaign-select-full__scroll-wrap">
          <button class="campaign-select-full__button campaign-select-full__button--prev js-slide-left" *ngIf="item.campaign_list.length > 4" (click)="slideItems('left')"><span></span></button>
          <button class="campaign-select-full__button campaign-select-full__button--next js-slide-right" *ngIf="item.campaign_list.length > 4" (click)="slideItems('right')"><span></span></button>

          <div class="campaign-select-full__save-scroll">
            <ul class="campaign-select-full__list js-select-list">
                <li class="campaign-select-full__item" *ngFor="let campaign of item.campaign_list">
                    <article id="{{ campaign.id }}" class="campaign-select-item">
                        <div>
                            <div class="campaign-select-item__image">
                                <img src="{{ campaign.background_image_url }}" alt="{{ campaign.title }}" width="" height="">
                                <svg class="campaign-select-item__select" width="27" height="40">
                                    <use xlink:href="#select"></use>
                                </svg>
                            </div>
                            <div class="campaign-select-item__content">
                                <div class="campaign-select-item__icon">
                                    <img src="{{ campaign.icon_url }}" alt="{{ campaign.title }}" width="60" height="60">
                                </div>
                                <h2 class="campaign-select-item__title">{{ campaign.title }}<br> {{ campaign.subtitle }}</h2>
                                <p class="campaign-select-item__text" [innerHTML]="campaign.short_description"></p>
                            </div>
                        </div>
                        <button class="campaign-select-item__button js-campaign-button" type="button" (click)="selectCampaign(campaign.id)">Выбрать предложение</button>
                    </article>
                </li>
            </ul>
          </div>
        </div>

        <div class="campaign-select-full__content">
            <div class="button-wrapper">
                <button class="button button--back" type="button" (click)="goBack()">Назад</button>
                <button class="button button--campaign" type="button" [disabled]="campaign_list.length === 0" (click)="openModal()">{{ select_button_text }}</button>
            </div>
        </div>
    </div>
</article>

<section class="modal {{ showModal ? 'm-show' : '' }}">
    <div class="modal__overlay" (click)="closeModal()">
        <div class="modal__wrapper">
            <div class="modal__content">
                <article class="message">
                    <h2>Вы действительно хотите выбрать<br>{{ message_text }}?</h2>
                    <p>После подтверждения изменения будут недоступны</p>
                    <div class="message__buttons">
                        <button type="button" (click)="closeModal()">Отменить</button>
                        <button type="button" (click)="buyFeed(item.id)">Подтвердить</button>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>