<article class="quiz-full skin-full-content {{ loadFinish ? 'm-load' : ''}}">
    <div class="m-load" *ngIf="load"></div>
    <div class="quiz-full__flex" *ngIf="!load">

      <div class="quiz-full__header">
        <div class="quiz-full__icon-question">
          <img src="{{ quizIcon }}" width="200" height="200" alt="">
        </div>
        <div class="quiz-full-progress">
          <span [ngStyle]="{ 'width.%': timer_progress }"></span>
        </div>
        <span class="quiz-full__time">{{ minute }} : {{ second }}</span>
      </div>

      <div class="quiz-full__content quiz-question">
        <span class="quiz-question__number">Вопрос {{ number }}</span>
        <h1 class="quiz-question__title">{{ question.description }}</h1>
        <ul class="quiz-question__list">
          <li class="quiz-question__answer" *ngFor="let answer of question.answer_list">
              <div class="quiz-answer">
                <input id="input-{{ answer.id }}" class="quiz-answer__radio js-input" type="checkbox" name="{{ question.id }}" [attr.data-type]="'radio'" [attr.data-value]="answer.id" (change)="changeInput($event)">
                <label for="input-{{ answer.id }}" class="quiz-answer__label">{{ answer.title }}</label>
              </div>
          </li>
        </ul>

        <div class="button-wrapper">
          <button class="button button--back" type="button" (click)="goBack()">Назад</button>
          <button class="button button--quiz" type="button" [disabled]="nextDisabled" (click)="goNext()" *ngIf="buttonNext">Далее</button>
          <button class="button button--quiz" type="button" [disabled]="nextDisabled" (click)="checkAnswer()" *ngIf="!buttonNext">Ответить</button>
       </div>
      </div>
    </div>
</article>
