<article class="quiz-full skin-full-content {{ load ? 'm-load' : '' }}">
    <div class="quiz-full__flex" *ngIf="!load && !error">
        <div class="quiz-full__image skin-full-image" [ngStyle]="{ 'background-image':  'url(' + item.background_image_url + ')' }"></div>
        <div class="quiz-full__content">
            <div class="quiz-full__icon skin-full-icon">
                <img src="{{ item.icon_url }}" alt="{{ item.title }}" width="60" height="60">
            </div>
            <h1 class="quiz-full__title skin-full-title">{{ item.title }}</h1>
            <p class="quiz-full__text skin-full-text" [innerHTML]="item.full_description"></p>

            <div class="button-wrapper">
                <button class="button button--back" type="button" (click)="goBack()">Назад</button>
                <button class="button button--quiz" type="button" (click)="startQuiz(item.id)">Играть</button>
            </div>
        </div>
    </div>
</article>
