<article class="quiz-result skin-full-content">
	<div class="quiz-result__content">
		<header class="quiz-result__header">
			<div class="quiz-result__icon">
				<img src="{{ result.icon_url }}" alt="{{ result.title }}">
			</div>
		</header>
		<div class="quiz-result__more" *ngIf="result.bonus_amount > 0 || result.marks_amount > 0">
			<span class="quiz-result__count" *ngIf="result.bonus_amount">+{{ result.bonus_amount | cardBalance }}</span>
			<span class="quiz-result__count" *ngIf="result.marks_amount">+{{ result.marks_amount | cardBalance }}</span>
			<span class="quiz-result__count-text">{{ result.more_text }}</span>
		</div>
		<h1 class="quiz-result__title skin-full-title">{{ result.title }}</h1>
		<p class="quiz-result__text skin-full-text">{{ result.description }}</p>

		<div class="button-wrapper">
        <button class="button button--back" type="button" (click)="goBack()">Назад</button>
    		<button class="button button--prise" type="button" *ngIf="result.link_unit && result.link_name" (click)="getPrise()">{{ result.link_name }}</button>
    </div>
	</div>
</article>
