<article class="news-full skin-full-content">
    <div class="m-load" *ngIf="load"></div>
    <div *ngIf="!load">
        <div class="news-full__image skin-full-image" [ngStyle]="{ 'background-image':  'url(' + item.background_image_url + ')' }"></div>
        <h1 class="news-full__title" [ngStyle]="{ 'background-color':  item.stripe_color }">{{ item.title }}</h1>
        <div class="news-full__content">
            <p class="news-full__text skin-full-text" openLink [innerHTML]="item.full_description"></p>
            <div *ngFor="let button of item.actions">
              <a class="news-full__button" href="{{ button.url }}" target="_blank" title="{{ button.title }}">{{ button.title }}
                <span class="news-full__button-icon" [ngStyle]="{ 'background-image':  'url(' + button.icon_url + ')' }"></span>
              </a>
            </div>

            <div class="button-wrapper">
               <button class="button button--back" type="button" (click)="goBack()">Назад</button>
           </div>
       </div>
   </div>
</article>