<article class="recipe-full skin-full-content {{ loadEmail ? 'm-load' : '' }}">
    <div class="recipe-full__flex" *ngIf="!load">
    	<div class="recipe-full__image skin-full-image" [ngStyle]="{ 'background-image':  'url(' + item.image_url + ')' }"></div>

        <h1 class="recipe-full__title skin-full-title">{{ recipeItem.title }}</h1>
        <div class="recipe-full__content">

            <ul class="recipe-full__info">
              <li class="recipe-full__info-item recipe-full__info-item--count">{{ recipeItem.servings_count }}</li>
              <li class="recipe-full__info-item recipe-full__info-item--time">{{ recipeItem.cooking_time }}</li>
            </ul>

        	<div class="recipe-progress">
        	   <span class="recipe-progress__text">Шаг {{ step }} из {{ recipeList.length }}</span>
            	<div class="recipe-progress__scale">
            		<div [ngStyle]="{ 'width.%': item.percent }"></div>
            	</div>
            </div>

            <p class="recipe-full__text skin-full-text" [innerHTML]="item.description"></p>

            <div class="button-wrapper">
                <button class="button button--back" type="button" (click)="goBack()">Назад</button>
                <button class="button" type="button" (click)="goNext()" *ngIf="step != recipeList.length">Далее</button>
                <button class="button" type="button" *ngIf="step == recipeList.length" (click)="checkEmail()">На почту</button>
            </div>
        </div>
    </div>
</article>

<section class="modal {{ showEmailModal ? 'm-show' : '' }}">
    <div class="modal__overlay">
        <div class="modal__wrapper">
            <div class="modal__content">
                <article class="message">
                    <h2>Введите ваш e-mail</h2>
                    <input id="input-email" class="message__input {{ emailInvalid ? 'm-error' : '' }}" type="email" placeholder="E-mail" (input)="inputEmail($event)">
                    <div class="message__buttons">
                        <button type="button" (click)="closeEmailModal()">Отменить</button>
                        <button type="button" (click)="saveEmail()" [disabled]="emailInvalid">Подтвердить</button>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
