<article class="recipe-full skin-full-content">
    <div class="m-load" *ngIf="load"></div>
    <div class="recipe-full__flex" *ngIf="!load">
        <div class="recipe-full__image skin-full-image" [ngStyle]="{ 'background-image':  'url(' + item.background_image_url + ')' }"></div>
        <h1 class="recipe-full__title skin-full-title">{{ item.title }}</h1>
        <div class="recipe-full__content">

            <ul class="recipe-full__info">
                <li class="recipe-full__info-item recipe-full__info-item--count">{{ item.servings_count }}</li>
                <li class="recipe-full__info-item recipe-full__info-item--time">{{ item.cooking_time }}</li>
            </ul>

            <div class="recipe-full__list">
                <h2 class="recipe-full__list-title">Ингредиенты</h2>
                <p class="recipe-full__list-text" [innerHTML]="item.full_description"></p>
            </div>

            <div class="button-wrapper">
                <button class="button button--back" type="button" (click)="goBack()">Назад</button>
                <button class="button" type="button" (click)="goNext()">Готовим</button>
            </div>
        </div>
    </div>
</article>
