<article class="mission-detail skin-full-content">
    <div class="m-load" *ngIf="load"></div>
    <div class="mission-detail__flex" *ngIf="!load">
        <div class="mission-detail__icon">
            <img src="{{ item.icon_url }}" alt="{{ item.title }}" width="160" height="">
        </div>
        <div class="mission-detail__content">
            <h1 class="mission-detail__title">{{ item.title }}</h1>
            <p class="mission-detail__text" [innerHTML]="item.full_description"></p>

            <div class="button-wrapper">
                <button class="button button--back-mission" type="button" (click)="goBack()">Назад</button>
                <button class="button button--mission" type="button" *ngIf="item.link_code && item.link_name" (click)="deepLink(item.link_code, item.link_unit )">{{ item.link_name }}</button>
            </div>
        </div>
    </div>
</article>
