<article class="mission-progress-bar-full skin-full-content">
    <div class="m-load" *ngIf="load"></div>
    <div class="mission-progress-bar-full__flex" *ngIf="!load">
        <div class="mission-progress-bar-full__icon">
            <img src="{{ item.icon_url }}" alt="{{ item.title }}" width="160" height="">
        </div>
        <div class="mission-progress-bar-full__content">
            <h1 class="mission-progress-bar-full__title">{{ item.title }}</h1>
            <p class="mission-progress-bar-full__text" [innerHTML]="item.full_description"></p>

            <p class="mission-progress-bar-full__text">{{ item.help_text }} </p>
            <div class="mission-progress-bar-full__progress">
                <span [ngStyle]="{ 'width.%': item.percent }"></span>
            </div>

            <div class="button-wrapper">
                <button class="button button--back" type="button" (click)="goBack()">Назад</button>
            </div>
        </div>
    </div>
</article>
