<article class="theme-full {{ loadBuy ? 'm-load' : '' }} skin-full-content">
    <div class="theme-full__flex" *ngIf="!load">
        <div class="theme-full__image skin-full-image" [ngStyle]="{ 'background-image':  'url(' + item.background_image_url + ')' }"></div>
        <div class="theme-full__content">
            <div class="theme-full__icon skin-full-icon">
                <img src="{{ item.icon_url }}" alt="{{ item.title }}" width="60" height="60">
            </div>
            <h1 class="theme-full__title skin-full-title">{{ item.title }}</h1>
            <span class="theme-full__date">С {{ item.creation_date | fullDate }} г. по {{ item.date_end | fullDate }} г.</span>
            <p class="theme-full__text skin-full-text" [innerHTML]="item.full_description"></p>

            <ul class="theme-mission {{ item.can_subscribe ? 'm-subscribe' : ''}}">
                <li class="theme-mission__item" *ngFor="let mission of item.tasks; let i = index" (click)="goMission(i, mission.status)">
                    <div class="theme-mission__image">
                        <img src="{{ mission.icon_url }}" alt="" width="60" height="60">
                    </div>
                    <div class="theme-mission__content">
                        <h2 class="theme-mission__title">{{ mission.title }}</h2>
                        <p class="theme-mission__text">{{ mission.short_description }}</p>
                    </div>
                </li>
            </ul>

            <div class="button-wrapper">
                <button class="button button--back" type="button" (click)="goBack()">Назад</button>
                <button class="button button--theme" type="button" *ngIf="item.can_subscribe" (click)="buyFeed(item.id)">{{ item.subscribe_text }}</button>
            </div>
        </div>
    </div>
</article>
