<article class="theme-mission-full skin-full-content">
	<div class="theme-mission-full__content">
		<div class="theme-mission-full__icon">
			<img src="{{ mission.link_unit.icon_url }}" alt="{{ mission.link_unit.title }}" width="160" height="">
		</div>
		<h1 class="theme-mission-full__title skin-full-title">{{ mission.link_unit.title }}</h1>
		<p class="theme-mission-full__text skin-full-text" [innerHTML]="mission.link_unit.full_description"></p>

		<div class="button-wrapper">
	    <button class="button button--back" type="button" (click)="goBack()">Назад</button>
      <button class="button button--theme-mission" type="button" *ngIf="mission.link_unit && mission.link_unit.link_name" (click)="deepLink(mission.link_unit)">{{ mission.link_unit.link_name }}</button>
    </div>
	</div>
</article>
