<article class="coupon-full {{ loadCoupon ? 'm-load' : '' }} skin-full-content">
  <div class="m-load" *ngIf="loadItem"></div>
  <div *ngIf="!loadItem">
        <div class="coupon-full__image skin-full-image" [ngStyle]="{ 'background-image':  'url(' + item.background_image_url + ')' }"></div>
        <div class="coupon-full__content">
          <div class="coupon-full__code">
            <div class="coupon-full__barcode" [hidden]="!item.barcode">
              <img id="code-{{ item.barcode }}" alt="Штрих-код" width="" height="80">
            </div>
            <span class="coupon-full__number" *ngIf="item.barcode">№ {{ item.barcode | cardNumber }}</span>
          </div>
          <h1 class="coupon-full__title skin-full-title">{{ item.title }}</h1>
          <span class="coupon-full__date">Действует до {{ item.date_end | fullDate }} г.</span>
          <p class="coupon-full__text skin-full-text" openLink [innerHTML]="item.full_description"></p>

          <div class="coupon-full__checkbox-wrapper" *ngIf="!item.barcode">
            <div class="coupon-full__checkbox">
              <span>Соглашаюсь с <a href="{{ item.offer_url }}" target="_blank">обработкой персональных данных</a></span>
              <input id="checkbox-info" class="visually-hidden" type="checkbox" name="" (change)="changeCheckbox($event, 'info')">
              <label for="checkbox-info"></label>
            </div>
             <div class="coupon-full__checkbox">
              <span>Соглашаюсь на SMS и email уведомления</span>
              <input id="checkbox-message" class="visually-hidden" type="checkbox" name="" (change)="changeCheckbox($event, 'message')">
              <label for="checkbox-message"></label>
            </div>
          </div>

          <div class="coupon-full__button-wrapper button-wrapper">
            <button class="button button--back" type="button" (click)="goBack()">Назад</button>
            <button class="button button--coupon" type="button" *ngIf="!item.barcode" [disabled]="couponInvalid" (click)="getCoupon(item.id)">Получить купон</button>
            <button class="button button--coupon-shop" type="button" *ngIf="item.barcode" (click)="goStore()">{{ settingButton.title }}</button>
          </div>
       </div>
  </div>
</article>