<article class="quest-mission-full skin-full-content">
    <div class="m-load" *ngIf="load"></div>
    <div class="quest-mission-full__flex" *ngIf="!load" customCss cssValue="background-color,{{ item.background_color }}">
		<div class="quest-mission-full__icon">
			<img src="{{ mission.icon_url }}" alt="{{ mission.title }}" width="160" height="">
		</div>
		<h1 class="quest-mission-full__title skin-full-title" customCss cssValue="color,{{ item.main_text_color }}">{{ mission.title }}</h1>
		<p class="quest-mission-full__text skin-full-text" [innerHTML]="mission.full_description" customCss cssValue="color,{{ item.main_text_color }}"></p>

		<div class="button-wrapper">
			<button class="button button--back" type="button" (click)="goBack()">Назад</button>
         	<button class="button button--quest" type="button" customCss cssValue="background-color,{{ item.button_color }},color,{{ item.button_text_color }}" *ngIf="mission.link_unit || mission.link_code" (click)="deepLink(mission.link_code, mission.link_unit)">{{ mission.link_name }}</button>
		</div>
    </div>
</article>
