<svg style="display: none">
    <symbol id="snow" viewBox="0 0 900 140">
        <g>
            <path d="M390.4615 0C375.2308.28 360 4.2 345.6 11.2c-21.1846 10.64-42.923 28-64.523 19.6-8.8616-3.36-16.6155-10.78-25.3385-15.4-33.9231-18.2-69.7847 9.8-104.4 23.8C100.6615 59.08 45.4154 46.9 0 6.3V140h900V74.62c-18-23.52-29.6308-63.56-52.6154-70-25.3384-7-47.0769 33.04-72.9692 35-11.077.84-21.7385-5.6-32.5385-9.1-40.1538-13.16-81 10.78-119.9077 31.08-38.7692 20.3-82.523 36.82-119.9077 10.08-17.5846-12.6-32.123-33.6-49.0153-48.3C434.7692 7.98 414.2769.42 393.5077 0z"/>
        </g>
    </symbol>
</svg>

<article class="quest-full skin-full-content">
    <div class="m-load" *ngIf="load"></div>
    <div class="quest-full__flex" *ngIf="!load" customCss cssValue="background-color,{{ item.background_color }}">
        <div class="quest-full__image" [ngStyle]="{ 'background-image':  'url(' + item.background_image_url + ')' }">
            <svg class="m-decor" customCss cssValue="fill,{{ item.background_color }}">
                <use xlink:href="#snow" *ngIf="item.template === 'winter' || 'summer'"></use>
            </svg>
        </div>
        <div class="quest-full__content">
            <div class="quest-full__icon" customCss cssValue="background-color,{{ item.button_color }}">
                <img src="{{ item.icon_url }}" alt="{{ item.title }}" width="" height="">
            </div>
            <span class="quest-full__date" customCss cssValue="color,{{ item.secondary_text_color }}">С {{ item.date_begin | fullDate }} г. по {{ item.date_end | fullDate }} г.</span>
            <h1 class="quest-full__title" customCss cssValue="color,{{ item.main_text_color }}">{{ item.title }}</h1>
            <p class="quest-full__text" customCss cssValue="color,{{ item.main_text_color }}" [innerHTML]="item.full_description"></p>

            <div class="quest-mission">
                <h2 class="quest-mission__title">Список заданий</h2>
                <ul class="quest-level">
                    <li class="quest-level__item" *ngFor="let level of item.level_list; let level_index = index">
                        <h3 class="quest-level__title" customCss cssValue="color,{{ item.level_text_color }}">{{ level.title }}</h3>
                        <ul class="quest-task">
                            <li class="quest-task__item" *ngFor="let task of level.task_list; let task_index = index" (click)="goMission(level_index, task_index, task.status)">
                                <div class="quest-task__image">
                                    <img src="{{ task.image_url }}" alt="{{ task.title }}" width="" height="">
                                </div>
                                <div class="quest-task__content">
                                    <h4 class="quest-task__title" customCss cssValue="color,{{ item.main_text_color }}">{{ task.title }}</h4>
                                    <p class="quest-task__text" customCss cssValue="color,{{ item.secondary_text_color }}">{{ task.short_description }}</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <p class="quest-full__info" customCss cssValue="color,{{ item.main_text_color }}">{{ task.text }}</p>

            <div class="quest-time" *ngIf="timer.all > 0">
                <h3 class="quest-time__title" customCss cssValue="color,{{ item.main_text_color }}">{{ item.countdown_title }}</h3>
                <ul class="quest-time__list" customCss cssValue="color,{{ item.countdown_color }}">
                    <li class="quest-time__item" *ngIf="timer.days > 0">
                        <b>{{ timer.days }}</b>
                        <span>{{ timer.d }}</span>
                    </li>
                    <li class="quest-time__item" *ngIf="timer.hours > 0">
                        <b>{{ timer.hours }}</b>
                        <span>{{ timer.h }}</span>
                    </li>
                    <li class="quest-time__item" *ngIf="timer.minutes > 0">
                        <b>{{ timer.minutes }}</b>
                        <span>{{ timer.m }}</span>
                    </li>
                </ul>
            </div>

            <div class="button-wrapper">
               <button class="button button--back" type="button" (click)="goBack()">Назад</button>
            </div>
        </div>
    </div>
</article>
